[submodule "source"]
    path = source
    url = https://github.com/XenoAmess/XenoAmessBlog.git
[submodule "themes/yilia-plus"]
    path = themes/yilia-plus
    url = https://github.com/XenoAmess/hexo-theme-yilia-plus
[submodule "k8s/whale3070/whale3070.github.io"]
    path = k8s/whale3070/whale3070.github.io
    url = https://github.com/whale3070/whale3070.github.io.git